@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0rem;
    margin: 0rem;
    outline: none;
    border: none;
    box-sizing: border-box;
}


img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: radial-gradient(#1b1b1d, #27272a);

}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
	width: 70%;
}


.nav-logo{
    max-width: 100px;
}

	nav a i {
    font-size: 52px; /* Adjust the size as needed */
	color: white;
}


.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: absolute;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.btn:hover{
    background-color: #1e40af;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 2rem;
}

.games-container{

    background-image: radial-gradient(#27272a, #A7C7E7);
	
    /*
	max-width: 1200px;
    margin: auto;
    padding: 2rem 2rem;
	/**/
}

.featured-container{
	background-image: radial-gradient(#27272a, #A7C7E7);
}

.featured-container h4{
		
		
	    width: 60%;
	    margin: auto;
	    padding: 0rem 0rem;
		
}

.featured-container iframe{
	width: 60%;
}



.void-container{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 2rem;
}

.void-container .card h4{
	text-align:justify;
	width:60%;
	margin:auto;
}

.void-container .card h2{
	color:white;
	margin:auto;
	width:60%;
	text-align: center;
}

	

.music-container{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 35px #CBC3E3;
    z-index: -100;
    left: 50%;
    transform: translateX(-50%);
}


hr {
    width: 50%;
    margin: 0 auto; /* Center the hr horizontally */
    border: none; /* Remove the default border */
    border-top: 2px solid #ccc; /* Set a 2px thick light gray border on top */
	padding-top: 0rem;
}


header{
	overflow:hidden;
	background-color: #333
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
	overflow:hidden;
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

container h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header:before {
	overflow:hidden;
    content: "/////";
    position: absolute;
    top: 10;
    left: 50%; /* Center the pseudo-element horizontally */
    transform: translateX(-60%) scale(1, 1.4);
    font-size: 50vw;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
	z-index: -100;
}



header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.sub-header{
    max-width: 600px;
	padding-bottom: 2rem;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.pricing .card{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 2rem;
}



.pricing .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.pricing .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.pricing .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.pricing .card button:hover{
    background-color: #1e40af;
    border-color: #1e40af;
}

.btn {
	font-size: 1rem;
	background-image: linear-gradient(#8244C6, #456FC6);
}

.btn a{
	font-size:1rem;
}

.button:hover{
	background-color: #7851A9;
}

/* Add this CSS to center and style the "Play Now" links in the cards of the carousel */
.card a {
    display: block; /* Make the link a block-level element */
    color: #fff; /* Set the text color to white */
    text-align: center; /* Center-align the text */
    margin-top: 1rem; /* Add some top margin for spacing */
    transition: all 0.3s ease; /* Add transition effect */
}

.card a:hover {
    color: #1e40af; /* Change the text color on hover */
}

.games-list .card h4{
	padding-bottom:1rem;
	padding-top:1rem;
    background-image: radial-gradient(#1b1b1d, #27272a);
	width: 75%;
	border-radius:10px;
	margin:auto;
	font-size:2rem;
}


.void-list .card{
    /*background-image: url('/images/stars.gif'); /* Adjust the file extension based on the actual format of your image */
	background-size: auto; /* Set background size to auto */
	background-repeat: repeat; /* Make the background repeat */

    background-position: center;
    /* Add any other styling you need for the .void-list class */
}


.games-list .card{
    background-image: radial-gradient(#27272a, #A7C7E7);
	
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content within the rounded corners */
	margin:auto;
	width:75%;
	padding-bottom:1rem;
	padding-top:1rem;
}

.games-list p{
	color:white;
	margin:auto;
	width:60%;
}

.card p{
	color: white;
	margin: auto;
	padding-top:1rem;
	padding-bottom:1rem;
}

.card {
	padding-top:0rem;
}


.slick-carousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the minmax values as needed */
    gap: 20px; /* Adjust the gap size as needed */
	overflow:hidden;
}

.slick-carousel .card {
    background-color: #27272a; /* Dark gray background color */
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content within the rounded corners */
    max-width: 315; /* Adjust the maximum width as needed */
    margin: 5 auto; /* Center the cards within the carousel container */
	padding: 1rem 1rem;
}

/* the slides */
 .slick-slide {
     margin: 0 10px;
 }
 
 .container a {
     display: block; /* Make the link a block-level element */
     color: #fff; /* Set the text color to white */
	 padding-top:1rem;
     text-align: center; /* Center-align the text */
     margin-top: 1rem; /* Add some top margin for spacing */
     transition: all 0.3s ease; /* Add transition effect */
 }
 
 .games-container a {
     display: block; /* Make the link a block-level element */
     color: #fff; /* Set the text color to white */
	 padding-top:1rem;
     text-align: center; /* Center-align the text */
     margin-top: 1rem; /* Add some top margin for spacing */
     transition: all 0.3s ease; /* Add transition effect */
 }
 
 .music-container a {
     display: block; /* Make the link a block-level element */
     color: #fff; /* Set the text color to white */
	 padding-top:1rem;
     text-align: center; /* Center-align the text */
     margin-top: 1rem; /* Add some top margin for spacing */
     transition: all 0.3s ease; /* Add transition effect */
 }



.card h4 {
    color: #FAF9F6; /* Change this to your desired text color */
	text-align:center;
	padding-bottom:0.5rem;
}

.card p {
    color: #FAF9F6; /* Change this to your desired text color */
	text-align:center;
}



.card a:hover{
	color: #ADD8E6;
}

.container a{
	text-align:center;
	margin:auto;
}

.games-container a{
	text-align:center;
	margin:auto;
}

.music-container a{
	text-align:center;
	margin:auto;
}

.iframe {
	position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
}

footer{
	position: relative;
	    gap: 1rem;
	    margin: auto;
	    display: flex; /* Use flex display for horizontal alignment */
		flex-direction: column;
	    align-items: center;
}

footer .logo{
	z-index:-1;
    max-width: 100px;
    margin-bottom: 1rem;
	margin: auto;
}

footer .column p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .socials{

    display: flex;
	align-items: center;
	margin: auto;
	gap: 0px;
}

footer .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
	margin: auto;
}

footer .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding-bottom: 2rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media (min-width: 1500px) {
	
.featured-container iframe{
	width: 35%;
}

.featured-container h4 {
    width: 30%;
    margin: auto;
    padding: 0rem 0rem;
}

.games-list .card {
    background-image: radial-gradient(#27272a, #A7C7E7);
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    width: 50%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
	
}

/* Default styles for screens larger than 900px */
@media (max-width: 901px) {
    /* Your existing styles for larger screens */
    .nav-links {
        display: flex;
    }
	
	nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
	width: 70%;
}

	nav a i {
    font-size: 52px; /* Adjust the size as needed */
	color: white;
}

.featured-container h4{
		
		
	    width: 40%;
	    margin: auto;
	    padding: 0rem 0rem;
		
}

.featured-container iframe{
	width: 50%;
}


 
 


    header {
        grid-template-columns: repeat(2, 1fr);
    }

    header .image {
        grid-area: 1/1/2/2;
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        grid-template-columns: 1fr 200px;
    }

    #music-carousel .slick-carousel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Media query for mobile devices (max-width: 600px) */
@media (max-width: 600px) {
	
	.image#logo-container {
	    margin: -1.5rem;
	}
	
	nav a i {
    font-size: 52px; /* Adjust the size as needed */
	color: white;
}
	
	.music-container{
	    max-width: 1200px;
	    margin: auto;
	    padding: 0rem 0rem;
	}
	
	.featured-container h4{
		
		
	    width: 90%;
	    margin: auto;
	    padding: 0rem 0rem;
		
	}
	
	.featured-container iframe{
	width: 90%;
}
	
	.void-container{
	    max-width: 1200px;
	    margin: auto;
	    padding: 2rem 0rem;
	}
	
	.void-container iframe{
	    width: 90%;
	    margin: auto;
	    padding: 0rem 0rem;
	}
	
	.void-container .card h4{
		text-align:justify;
		width:90%;
	}
	
	
	
    .nav-links {
        display: none;
    }
	
	nav{
	    max-width: 1200px;
	    margin: auto;
		margin-bottom:-25px;
	    padding: 0.5rem 1rem;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    gap: 2rem;
		width:80%;
		padding-top:30px;
	}
	


    header {
        grid-template-columns: repeat(1, 1fr);
    }
	

    header .image::before {
        display: none;
    }

    .features {
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        grid-template-columns: 1fr 150px;
    }

    #music-carousel .slick-carousel {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
	
	.games-list .card{
	    background-color: #27272a; /* Dark gray background color */
	    border-radius: 15px; /* Rounded corners */
	    overflow: hidden; /* Hide overflowing content within the rounded corners */
		margin:auto;
		width:100%;
		padding-bottom:1rem;
		padding-top:1rem;
	}
	
	.games-list .card h4{
		padding-bottom:1rem;
		padding-top:1rem;
		width: 75%;
		border-radius:10px;
		margin:auto;
		font-size:1.5rem;
	}
	
	.btn {
	    padding: 1rem 1rem;
	    font-size: 1rem;
	    color: #fff;
	    background-color: #1d4ed8;
	    border-radius: 15px;
	    cursor: pointer;
	    transition: all 0.3s ease;
	}
	
	p{
	}
	
	body{

	    background-image: radial-gradient(#1d4ed8, #27272a);
	}
	
	.games-list p{
		color:white;
		margin:auto;
		width:75%;
	}
	
	
	.void-container .card img {
    width: 100% !important;
    display: flex;
}


	
}

@media (max-width: 525px) {
	nav a i{
	    font-size:42px;
		margin-left: -10px;
	}
}